# Flutter specific
.pub
flutter_localizations.yaml

# Firebase specific
firebase_service_account.json  # <-- Important:  DO NOT COMMIT

# General ignore files
*.iml
*.log
*.ttf
*.otf
*.eot
*.woff
*.woff2
*~
# Ignore node_modules if present
node_modules/

# Additional files you might want to ignore
# (based on your project structure)
android/app/build.gradle
ios/Runner.xcworkspace
.env  # If you have a local environment file

# Cache and temporary files
.dart_tool/
**/.dart_tool/
.packages
coverage/
test_results/